<ion-header>
  <ion-toolbar>
    <ion-title>Hi, ich bin Philipp!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img src="assets/img/me.jpg" />
  <p>Und ich habe dieses Spiel gemacht.</p>
  <p><i>"Ich bin ein Softwareentwickler aus der Uckermark mit zu vielen Hobbys und zu wenig Zeit."</i></p>

  <div>
    <p>Copyright © 2022 Philipp Anné<br/>
      Für die Menschen, die ich liebe.
    </p>
    <p>Made with <ion-icon color="danger" name="heart-outline"></ion-icon> and <ion-icon color="primary"
        name="logo-ionic"></ion-icon>
    </p>
    <p>v{{ version }}</p>
  </div>
</ion-content>